@import "tailwindcss";

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.input {
  @apply border px-3 py-2 rounded-md w-full focus:outline-none focus:ring-2 focus:ring-indigo-500;
}
